@model IEnumerable<MyTasks.Core.Models.Domains.Category>

@{
    ViewData["Title"] = "Kategorie";
}

<h1>Moje kategorie</h1>

<button class="btn btn-primary mb-3"
        onclick='window.location.href = "@Url.Action("Category","Task")"'>
    Dodaj pozycję
</button>


<div id="categoriesTable">
    <table class="table mt-3 table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var category in Model)
                {
                    <tr>
                        <td>
                            @if (category.UserId != null)
                            {
                                <a href="@Url.Action("Category", "Task",
                                    new { id = category.Id })"
                                   class="font-weight-bold">@category.Name</a>
                            }
                            else
                            {
                                <div>@category.Name</div>
                            }
                        </td>
                        <td>
                            @if (category.UserId != null)
                            {
                                <button class="btn btn-danger btn-sm"
                                        onclick="deleteCategory('@category.Id',this)">
                                    Usuń
                                </button>
                            }

                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">
                        Brak kategorii
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">

        // Usuwanie kategorii
        function deleteCategory(id, btn) {
            if (!confirm("Czy na pewno chcesz kategorię ?"))
                return;

            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteCategory", "Task")",
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data.success) {
                        // usuwanie z tabeli w html'u
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    }
                    else {
                        alert(data.Message + ' Akcja w kontrolerze zwróciła błąd' );
                    }
                },
                error: function (data) {
                    alert(data.Message + ' Nie znaleziono Akcji ');
                },
                dataType: 'json'

            });
        }
        // --------------------------------------------
    </script>
}
